
{% extends '../layouts/layout.twig' %}

{% block title %}Index page{% endblock %}

{% block content %}
<div class="container">
	<p class="welcome-paragraph">Welcome to the FFW prototype project. This index page is used to build and overview of all the blocks and pages of the prototype. For each page type, please extend the layout.twig file and create a new page template in /pages/*.twig.</p>
</div>
{% endblock %}