{#
  Example of a Twig Block.
  Blocks are be resuable components/modules/includes that are used in multiple places on the site.
#}

{% block blockExample %}
	<ul class="block-example">
	  {% for item in items %}
	    <li class="block-example__item">
	      <a href="{{ item.link }}">Item Link</a>
	        <h2 class="block-example__item__title">{{ item.title }}</h2>
	      </a>
	    </li>
	  {% endfor %}
	</ul>
{% endblock %}